.main {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
  }
  
  @media (max-width: 768px) {
    .main {
      width: 90%; /* Adjusted width for smaller screens */
      padding: 1rem; /* Added padding for smaller screens */
    }
  
    .introTitle {
      font-size: 2rem;
      line-height: 100%;
      padding-bottom: 0.5rem;
    }
  
    .introSubtext {
      font-size: 0.9rem;
    }
  
    .links {
      flex-direction: row; 
      gap: 1rem;
    }
  
    .hoverButton {
      font-size: 14px;
    }
  
    .emailLink {
      font-size: 12px;
    }

    .paragraph {
        line-height: 110%;
    }
  }

  
  .intro {
    display: flex;
    flex-direction: column;
    margin: 5rem 0 1rem 0;
  }
  
  .introTitle {
    font-size: 3rem;
    font-weight: 700;
  }
  
  .introSubtext {
    font-size: 1rem;
    line-height: 130%;
    color: grey;
  }
  
  .hr {
    height: 1px;
    width: 100%;
    border: 0.1px solid rgb(232, 232, 232);
    margin: 1.5rem 0;
  }
  
  .links {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
  
  .hoverButton {
    padding-left: 0.25rem;
    padding-right: 0rem;
    font-size: 16px;
  }
  
  .emailLink {
    font-size: 14px;
  }
  
  .assignmentBlock {
    margin-bottom: 20px;
  }
  
  .card {
    background: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  